<!DOCTYPE html>
<html>
    <head>
        <title>Nice try.</title>
        <link rel="shortcut icon" href="static/icon.png">
        <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-G8N7KSN56Z"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-G8N7KSN56Z');
</script>
    </head>
    <body>
        Nice try buddy.But i thought that.'cuz we can't trust strangers on the internet.
    </body>
</html>
